body{
  padding-top: 70px;
  color: #796A77;
  padding: 0;
  margin: 0;
}

.section-content{
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

.section-content .headline{
  width: 100%;
  padding-bottom: 35px;
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: relative;
}

.section-content .headline h2{
  font-size: 28px;
  font-weight: 100;
  color: #4D4357;
  line-height: 1.8;
  letter-spacing: 0.2rem;
  padding-top: 60px;
}

.section-content .headline h2::after{
  content: "";
  width: 30px;
  display: block;
  border-bottom: 1px solid #282828;
  padding-bottom: 15px;
  margin: 0 auto;
}

.section-content p{
  display: flex;
  justify-content: center;
  padding: 0 auto;
  margin: 0 auto;
  font-size: 10px;
  text-align: center;
  padding-bottom: 1em;
}

img{
  max-width: 100%;
  height: auto;
}

.gallery{
  margin: 0 0.65rem;
  padding: 35px 50px 0px 50px;
}

.gallery-item{
  height: auto;
  margin: 0.5rem;
}

.gallery-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  opacity: 0; 
  transition: all 0.3s; 
  transform: translateY(30%) scale(0.95);
}


.gallery-item img.active_img{
  opacity: 1;
  transform: translateY(0%) scale(1);
  transition: all .7s ease;
}


.fab.fa-twitter{
  font-size: 15px;
  line-height: 60px;
  color: #fff;
}


.fas.fa-times{
  position: fixed;
  top: 10%;
  right: 10%;
  border-radius: 50%;
  width: 50px;
  margin: auto;
  cursor: pointer;
  text-align: center;
  font-size: 30px;
  line-height: 50px;
  color: #fff;
  visibility: hidden;
}

.fa-times.visible{
  visibility: visible;
  z-index: 10001;
}

.fas.fa-times:hover{
  border-radius: 50%;
  background-color: #fff;
  transition:0.2s ease-in-out;
  color: #00acd1;
}

#twitter2{
  position: fixed;
  bottom: 6%;
  left: 50%;
  border-radius: 50%;
  width: 25px;
  margin: auto;
  cursor: pointer;
  text-align: center;
  font-size: 15px;
  line-height: 25px;
  color: #2b3031;
  background-color: #8a9296;
  visibility: hidden;
}

#twitter2.visible{
  visibility: visible;
  z-index: 10001;
}

#twitter2:hover{
  opacity: 0.7;
  transition: all 0.3s ease;
}

.modalContent{
  display: block;
  position: fixed;
  top:92%;
  right: 45%;
  z-index: 10001;
}

.modalTxt{
  position: fixed;
  bottom: 3%;
  left: 45%;
  color: #fff;
  font-size: 12px;
  padding-top: 15px;
  visibility: hidden;
}

.modalTxt.visible{
  visibility: visible;
  z-index: 10001;
}


/* responsive start */
@media screen and (max-width:768px) {
  body {
    margin: 10px;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-auto-flow: row dense;
  }
  .gallery-item{
    margin: 2px auto;
  }

  .gallery-item:nth-child(3){
    height: 50%;
  }

  .gallery-item:nth-child(7){
    grid-row: 3 / 3;
  }

  .gallery-item:nth-child(6),
  .gallery-item:nth-child(7),
  .gallery-item:nth-child(11),
  .gallery-item:nth-child(12),
  .gallery-item:nth-child(15),
  .gallery-item:nth-child(18),
  .gallery-item:nth-child(19),
  .gallery-item:nth-child(22)
   {
    transform: translateY(-50%);
  }

  .gallery-item:nth-child(10){
    transform: translateY(-111%);
  }

  .gallery-item:nth-child(11) {
    grid-row: 5/5;
  }

  .gallery-item:nth-child(12) {
    grid-row: 7 / 7;
    transform: translateY(-110%);
  }

  .gallery-item:nth-child(13){
    grid-row: 9 / 9;
    grid-column: 2 / 2;
    transform: translateY(-50%);
  }

  .gallery-item:nth-child(15){
    grid-row: 8 / 8;
  }

  .gallery-item:nth-child(16){
    grid-row: 8 / 8;
    grid-column: 2 / 2;
    transform: translateY(-50%);
  }

  .gallery-item:nth-child(18) {
    grid-row: 9 / 9;
  }

  .gallery-item:nth-child(19){
    transform: translateY(-111%);
  }

  .gallery-item:nth-child(20){
    transform: translateY(-110%);
  }

  .gallery-item:nth-child(22) {
    grid-row: 11 / 11;
    transform: translateY(-110%);
  }
}

@media screen and (min-width:768px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-auto-flow: row dense;
  }
  .gallery-item{
    margin: 2px auto;
  }

  .gallery-item:nth-child(3){
    height: 50%;
  }

  .gallery-item:nth-child(7),
  .gallery-item:nth-child(11),
  .gallery-item:nth-child(15){
    transform: translateY(-49%);
  }
  .gallery-item:nth-child(10),
  .gallery-item:nth-child(12),
  .gallery-item:nth-child(14){
    height: 50%;
  } 
  .gallery-item:nth-child(14){
    transform: translateY(-99%);
  }
  .gallery-item:nth-child(16){
    transform: translateY(-50%);
  }
  .gallery-item:nth-child(18){
    transform: translateY(-100%);
  }
  .gallery-item:nth-child(19){
    width: 100%;
    height: 50%;
    transform: translateY(-98%);
  }
  .gallery-item:nth-child(20){
    width: 100%;
    height: 50%;
    transform: translateY(-100%);
  }
  .gallery-item:nth-child(22){
    transform: translateY(-222%);
  }
}
 
img:hover{
  opacity: 0.7;
}

@keyframes slide {
  0%{
    opacity: 0;
    transition: all 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate(0, 40px);
  }
  100%{
    opacity: 1;
    transform: translate(0);
  }
} 
/* responsive end */

/* javascript */
#lightbox {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

#lightbox.showup{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#lightbox img:hover{
  opacity: 1;
}
